= form_with(local: true, method: :get) do |form|

  .field
    = form.label :country
    = form.select :country,  options_for_select(countries) 
  / .field
  /   = form.label :zip
  /   = form.text_field :zip, id: :tariff_zip
  / .field
  /   = form.label :weight
  /   = form.number_field :weight, id: :tariff_weight
  / .field
  /   = form.label :price
  /   = form.text_field :price, id: :tariff_price
  / .field
  /   = form.label :carrier
  /   = form.text_field :carrier, id: :tariff_carrier
  / .field
  /   = form.label :expire
  /   = form.text_field :expire, id: :tariff_expire
  / .field
  /   = form.label :transit_time
  /   = form.text_field :transit_time, id: :tariff_transit_time
  / .field
  /   = form.label :loading_region
  /   = form.text_field :loading_region, id: :tariff_loading_region
  .actions
    = form.submit

